---
import ExperienceItem from "./CompeticionesItem.astro";

const EXPERIENCE = [
  { 
    date: "28 Febrero 2025 - 2 Marzo 2025",
    title: "Hack2Progress",
    company: "Competidor en Hack2Progress diseñando soluciones de movilidad inteligente.",
    description: "/images/hack2progress.jpg",
    isImage: true
  },
  {
    date: "8 Abril 2025 - 11 Abril 2025",
    title: "CantabriaSkills",
    company: "1º puesto como campeón regional de Cloud Computing, superando desafíos prácticos en infraestructura, automatización de servicios y resolución.",
    description: "/images/skills.png",
    isImage: true
  },
  { 
    date: "7 Junio 2025 - 8 Junio 2025",
    title: "CTF Uciber",
    company: "Competidor en CTF organizado por Uciber, con retos de Misc, Criptografía, OSINT, Forense, Reversing y Hacking Web.",
    description: "/images/uciber.png",
    isImage: true
  },
    { 
    date: "24 Julio 2025 - 27 Julio 2025",
    title: "Euskal Encounter",
    company: "Competidor en Hack It y Solve It.",
    description: "/images/euskal_encounter.png",
    isImage: true
  },
    { 
    date: "28 Febrero 2025 - 2 Marzo 2025",
    title: "CTF Kaspersky",
    company: "Competidor en CTF Internacional organizado por Kaspersky, en el cual hubieron retos de Pwn, Misc, Criptografía, Reversing, Forense, Hacking Web, Explotación binaria y IA.",
    description: "/images/kaspersky.png",
    isImage: true
  }

];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10 grid grid-cols-1 md:grid-cols-2 gap-8">
    {EXPERIENCE.map((experience, index) => (
      <li key={index} class="group relative overflow-hidden rounded-xl shadow-lg">
        <article role="article" aria-labelledby={`experience-title-${index}`}>
          <div class="relative w-full aspect-video">
            <!-- Imagen -->
            <img 
              src={experience.description} 
              alt={experience.title}
              class="w-full h-full object-cover transition-all duration-500 group-hover:scale-105"
            />
            
            <!-- Overlay con texto -->
            <div class="absolute inset-0 bg-black/70 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
              <div class="text-center text-white">
                <h3 id={`experience-title-${index}`} class="text-xl font-bold mb-2">{experience.title}</h3>
                <p class="text-sm">{experience.company}</p>
                <time class="text-xs mt-2 inline-block">{experience.date}</time>
              </div>
            </div>
          </div>
        </article>
      </li>
    ))}
  </ol>
</div>
